body{
    background-color: rgb(222, 219, 219);
    display: flex;
    justify-content: center;
}

main{
    width: 800px;
    background-color: white;
}


/*SIDEBAR */

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightblue;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}
.logo {
  width: 10%;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

button{
  margin: 6px 8px 0px 16px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

section{
    display: flex;
    justify-content: end;
}


 /* Modal (baggrund) */
 .modal {
    display: none; /* Hidden by default */
    position: absolute;
    z-index: 1; /* Sit on top */
    left: 100;
    top: 0;
    width: 600px;
    height: fit-content; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: lightblue;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: -7px 7px 15px -7px rgba(0,0,0,0.22);
    -webkit-box-shadow: -7px 7px 15px -7px rgba(0,0,0,0.22);
    -moz-box-shadow: -7px 7px 15px -7px rgba(0,0,0,0.22);
  }
.brugeravatar  {
  display: flex;
  max-width: 10%;
  place-content: right;
}
  textarea{
    width: 350px;
    margin-top: 15px;
  }

  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

/* pip template styling */

.pipTemplate{
  background-color: white;
  width: 600px;
  padding: 30px;
  margin: 18px;
}

.bruger p{
  margin-top: 0px;
  font-weight: bold;
}